.navbar {
  height: 100px;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
}

.image_tag {
  height:10%;
  width: 10%;
  margin-left: 10%;
}
img {
  width: 150px;
  height: 60px;
  background-color: aliceblue;
  margin-top: 15px;
}
.title_tag {
  float: right;
  text-align: center;
  color: aqua;
  width: 60%;
  font-size: 25px;
}
