.total{
    display: flex;
    flex-direction: row;
}
.content{
    width: 50%;
    align-items: center;
   margin-left: 12px;
  
   
}
.sentence{
    width: 48%;
   
    
    float: right;
   
}
input{
    height: 35px;
    border-radius: 5px;
}
select{
    height: 35px;
    border-radius: 5px
}option{
    height: 35px;
    border-radius: 5px;
}