.total{
    display: flex;
    flex-direction: row;
}
.content{
    width: 50%;
    height: 550px;
    background-color: cadetblue;
    align-items: center;
   margin-left: 10px;
   
   
}
.sentence{
    width: 48%;
    height: 550px;
    background-color:darkolivegreen;
    float: right;
    text-align: center;
}